body{
background: linear-gradient(120deg, #1676b6, #3e35e000);
}
.form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.details{
    position: relative;
    
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: #1676b7;
}

.login{
    margin-top: 100px;
    padding-left: 20px;
  
}
.login input{
    border: 1px solid #1676b7;
}
.login .user-input   {
    
    width: 80%;
    height: auto;
    padding: 10px;
    background: #1da1f2;
    outline: none;
    font-size: 14px;
     position: relative;
     
   
}

/* .login i{display: inline-block;} */
.login i{
    position: absolute;
    top: 52%;
    background-color: #2e638c;
 left: 0;
    font-size: 38px;
    margin-left: 20px;
    color: #191e21;
}
.mail-icon i{
    position: absolute;
    top: 33%;
    background-color: #2e638c;
 left: 0;
    font-size: 39px;
    margin-left: 20px;
    color: #191e21;
}
.text-box{
    width: 100%;
    margin-top: 20px;
  

}


 .icon{
    border-radius: 100%;
    width: 120px;
    height: 120px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #70b7e6;
    font-size: 48px;
    margin: 1px auto 50px ;
    position: absolute;
    left: 46%;
    top: 70px;
    
} 

.btn {display: flex;
justify-content: center;
align-items: center;
}
button{
    color: #0c0d0d;
    margin-top: 20px;
    background: #1da1f2;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    font-weight: 600;
    /* box-shadow:  5px 5px 5px #cdced1,-5px -5px 5px #fff; */
    border: none;
}
p{
    display: inline-block;
    font-size: 14px;
   
}

.text-box a{
    display: inline-block;
    font-size: 14px;
  
    text-decoration: none;
    padding-left: 150px;
}
.text-box input{
    margin-left: 20px;
}